<h1>Sign in</h1>
<form method="POST" action="{{ url_for('users.create') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group mb-3">
        <label for="name">Username:</label>
        <input name="username" type='text' class="form-control" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type='text' class="form-control" name="password" />
    </div>
    <input type="Submit" class="btn btn-primary" value="Sign Up" />
</form>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}


</body>